---
import Section from '@components/Section.astro';
import LinkButton from '@components/LinkButton';
import SRT from '@images/SRT.png';
---

<Section
  id="beneficiary"
  title="Beneficiary"
  logo={SRT}
  text={'Since 1982, Save the Rhino Trust (SRT) has been protecting the desert-adapted black rhino in order to ensure security for these and other wildlife species, a protected habitat, and a sustainable future for local communities long into the future.'}
  isGray
>
  <LinkButton
    title="VISIT SRT"
    url="https://www.savetherhinotrust.org"
    client:load
  />
</Section>
