---
---

<div id="beneficiary">Save the rihno</div>

<style>
  #beneficiary {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #ffe660;
  }
</style>
