---
import Section from './Section.astro';
---

<Section
  id="beneficiary"
  title="Beneficiary"
  text={'Since 1982, Save the Rhino Trust (SRT) has been protecting the desert-adapted black rhino in order to ensure security for these and other wildlife species, a protected habitat, and a sustainable future for local communities long into the future.'}
  isGray
>
  <p>Children</p>
</Section>
