.form {
  background-color: #f4f4f4;
  border-radius: 10px;
  margin-bottom: calc(var(--base-font-size) * 4);
  display: flex;
  padding: calc(var(--base-font-size) * 0.5) var(--base-font-size);
}

.input {
  display: block;
  font-family: 'Satoshi-Regular';
  font-size: var(--base-font-size);
  font-weight: 400;
  color: #767676;
  background-color: #f4f4f4;
  border: none;
  outline: none;
  padding: 0;
  width: calc(var(--base-font-size) * 17);
}

.submit {
  font-family: 'Satoshi-Bold';
  font-size: var(--base-font-size);
  font-weight: 700;
  color: #767676;
  background-color: #fe9fab;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: calc(var(--base-font-size) * 0.5) calc(var(--base-font-size) * 2);
  border-radius: 8px;
}

@media only screen and (max-width: 970px) {
  .form {
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
  }

  .input {
    height: 50px;
    width: calc(var(--base-font-size) * 10);
    margin: 0;
    padding-bottom: 8px;
    text-align: center;
    position: relative;
    white-space: pre-line;
  }

  .input::placeholder {
    white-space: pre-line;
    overflow-wrap: break-word;
    position: relative;
    top: -6px;
  }

  .submit {
    width: 100%;
    margin: 0;
    padding: calc(var(--base-font-size) * 1) calc(var(--base-font-size) * 2);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
