---
import Instagram from '@images/instagram.webp';
---

<footer id="footer">
  <div class="logo">
    <a href="https://www.instagram.com/workout4wildlife_/" target="_blank">
      <img src={Instagram} alt="Instagram logo" />
    </a>
  </div>

  <a
    href="/Workout4Wildlife-Terms&Conditions-20230330.pdf"
    target="_blank"
    class="tandc"
  >
    Terms & Conditions
  </a>
  <span class="copyright">© Workout4Wildlife 2023</span>
</footer>

<style>
  #footer {
    background-color: #541736;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;
    color: #ffffff;
  }

  .copyright {
    flex: 1;
    text-align: right;
  }

  .logo {
    flex: 1;
  }

  img {
    height: var(--base-font-size);
  }

  a {
    color: #ffffff;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  @media (max-width: 1200px) {
    #footer {
      padding: 20px 40px;
    }
  }

  @media only screen and (max-width: 970px) {
    #footer {
      padding: 20px 20px;
      flex-direction: column;
      align-items: center;
    }

    a {
      margin-bottom: var(--base-font-size);
    }
  }
</style>
