---
---

<footer id="footer">
  <div class="link-container">
    <a href="/Workout4Wildlife-Terms&Conditions-20230330.pdf" target="_blank">
      Terms & Conditions
    </a>
    <span>© Workout4Wildlife 2023</span>
  </div>
</footer>

<style>
  #footer {
    background-color: #541736;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;
    color: #ffffff;
  }

  .link-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  a {
    color: #ffffff;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  @media (max-width: 1200px) {
    #footer {
      padding: 20px 40px;
    }
  }

  @media only screen and (max-width: 970px) {
    #footer {
      padding: 20px 20px;
    }

    .link-container {
      flex-direction: column;
      align-items: center;
    }

    a {
      margin-bottom: var(--base-font-size);
    }
  }
</style>
