---
---

<footer id="footer">
  <div class="link-container">
    <span>© Workout4Wildlife 2023</span>
  </div>
</footer>

<style>
  #footer {
    background-color: #541736;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;
    color: #ffffff;
  }

  @media (max-width: 1200px) {
    #footer {
      padding: 20px 40px;
    }
  }

  @media only screen and (max-width: 970px) {
    #footer {
      padding: 20px 20px;
    }
  }
</style>
