---
import Instagram from '@images/instagram.webp';
---

<footer id="footer">
  <a
    href="https://www.instagram.com/workout4wildlife_/?igshid=YmMyMTA2M2Y%3D"
    target="_blank"
    class='logo'
  >
    <img src={Instagram} alt="Instagram logo" />
  </a>

  <a href="/Workout4Wildlife-Terms&Conditions-20230330.pdf" target="_blank" class="tandc">
    Terms & Conditions
  </a>
  <span>© Workout4Wildlife 2023</span>
</footer>

<style>
  #footer {
    background-color: #541736;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 120px;
    color: #ffffff;
  }

  .tandc {
    flex-grow: 2;
    text-align: center;
  }

  .logo {
    flex-grow: 1;
  }

  img {
    height: var(--base-font-size);
  }

  a {
    color: #ffffff;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  @media (max-width: 1200px) {
    #footer {
      padding: 20px 40px;
    }
  }

  @media only screen and (max-width: 970px) {
    #footer {
      padding: 20px 20px;
      flex-direction: column;
      align-items: center;
    }

    a {
      margin-bottom: var(--base-font-size);
    }
  }
</style>
