---
import SignUpButton from '@components/SignUpButton';

interface Props {
  showSignUp?: boolean;
}

const { showSignUp = false }: Props = Astro.props;
---

<div id="hero">
  <p class="prize">
    {'Win a '}<span>{'$15,000 '}</span>{
      ' trip to Namibia* and experience conservation'
    }
    <br />
    {' first hand.'}
  </p>
  {showSignUp && <SignUpButton client:load />}
  <p class="dates">
    {'Submit workout '}<span>{'April 23'}</span>
    <br />
    {'Participation fee '}<span>{'$20'}</span>
  </p>
</div>

<style>
  #hero {
    width: 100%;
    height: calc(var(--base-font-size) * 40);

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    background: url('../images/hero-desktop.png');
    background-position: center;
    background-size: cover;
  }

  p {
    font-family: 'Satoshi-Regular';
    font-size: calc(var(--base-font-size) * 2);
    max-width: calc(var(--base-font-size) * 32);
    text-align: center;
    color: #ffffff;
    margin: calc(var(--base-font-size) * 4) 0px;
  }

  span {
    font-family: 'Caveat-Bold';
    font-weight: 700;
    font-size: calc(var(--base-font-size) * 4);
    color: #fee878;
  }

  @media only screen and (max-width: 970px) {
    #hero {
      height: 456px;
      background: url('../images/hero-mobile.png');
      background-position: center;
      background-size: cover;
    }

    p {
      font-size: calc(var(--base-font-size) * 1);
      max-width: calc(var(--base-font-size) * 20);
      margin: calc(var(--base-font-size) * 3) 0px;
    }

    span {
      font-size: calc(var(--base-font-size) * 2);
    }

    .prize {
      order: -2;
    }

    .dates {
      order: -1;
      margin-top: 0px;
    }
  }
</style>
