---
---

<div id="join">Join Us</div>

<style>
  #join {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f4f4f4;
  }
</style>
