---
import Section from '@components/Section.astro';
import SignUpButton from '@components/SignUpButton';
import SignUpSteps from '@components/SignUpSteps.astro';

interface Props {
  showSignUp?: boolean;
}

const { showSignUp = false }: Props = Astro.props;
---

<Section
  id="join"
  title="How to Join Us"
  text={'Throw down with your favourite athletes and help raising funds for wildlife conservation. 100% of your entry fee will go to our beneficiary.'}
  isGray
>
  <SignUpSteps />
  {showSignUp && <SignUpButton client:load />}
</Section>
