---
import Section from './Section.astro';
import SignUpButton from './SignUpButton';
import SignUpSteps from './SignUpSteps.astro';
---

<Section
  id="join"
  title="How to Join Us"
  text={'Throw down with your favourite athletes and help raising funds for wildlife conservation. 100% of your entry fee will go to our beneficiary.'}
  isGray
>
  <SignUpSteps />
  <SignUpButton />
</Section>
