---
import Section from '@components/Section.astro';
import LinkButton from './LinkButton';
---

<Section
  id="leaderboard"
  title="Leaderboard"
  isGray
  text="Event will be hosted by Competition Corner."
>
  <LinkButton
    title="Visit Competition Corner"
    url="https://competitioncorner.net"
    client:load
  />
</Section>
