---
import Section from '@components/Section.astro';
import LinkButton from './LinkButton';
---

<Section
  id="leaderboard"
  title="Leaderboard"
  isGray
  text=" Thank you Competition Corner for waving all fees and hosting Workout4Wildlife at no cost. We are very grateful for your amazing support."
>
  <LinkButton
    title="Visit Competition Corner"
    url="https://competitioncorner.net/ff/9736/results#group_61487"
    client:load
  />
</Section>
