---
import Section from '@components/Section.astro';
import LinkButton from './LinkButton';
---

<Section id="leaderboard" title="Leaderboard" isGray>
  <p>Event will be hosted by Competition Corner.</p>
  <LinkButton
    title="VISIT CompetitionCorner"
    url="https://competitioncorner.net"
    client:load
  />
</Section>

<style>
  p {
    margin-bottom: 40px;
  }
</style>
