.container {
  display: none;
}

.linkContainer {
  position: absolute;
  background-color: #541736;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 16px 16px;
  overflow: hidden;
  margin-top: 20px;
}

.link {
  font-family: 'KronaOne-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: calc(var(--base-font-size) * 2);
  color: #ffffff;
  text-decoration: none;
  padding: calc(var(--base-font-size) * 2);
}

@media only screen and (max-width: 970px) {
  .container {
    display: block;
  }
}
