---
import MobileNavigation from './MobileNavigation';
import SignUpButton from './SignUpButton';
import Logo from './Logo.astro';

const menuItemList = [
  { link: '#story', title: 'Story' },
  { link: '#join', title: 'Join Us' },
  { link: '#prize', title: 'Prize' },
  { link: '#beneficiary', title: 'Beneficiary' },
];
---

<nav id="navigation">
  <Logo height="52px" width="192px" />

  <div class="desktopNavigation">
    {
      menuItemList.map((menuItem) => (
        <a href={menuItem.link}>{menuItem.title}</a>
      ))
    }
    <SignUpButton />
  </div>
  <MobileNavigation menuItemList={menuItemList} client:load />
</nav>

<style>
  #navigation {
    box-sizing: border-box;
    padding: 20px 120px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    position: relative;
    font-family: 'Satoshi-Black';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
    color: #541736;

    margin-right: 40px;

    text-decoration: none;
  }

  a:hover {
    color: #fe9fab;
  }

  a:hover::after {
    background-color: #fe9fab;
    content: '';
    width: 80%;
    height: 3px;
    position: absolute;
    bottom: -8px;
    left: 0px;
    right: 0px;
    margin: auto;
  }

  @media only screen and (max-width: 768px) {
    .desktopNavigation {
      display: none;
    }
  }
</style>
