<nav id="navigation">
  <div class="logo">Workout4Wildlife</div>

  <div>
    <a href="#story">Story</a>
    <a href="#join">Join Us</a>
    <a href="#prize">Prize</a>
    <a href="#beneficiary">Beneficiary</a>
  </div>
</nav>

<style>
  #navigation {
    box-sizing: border-box;
    padding: 18px 120px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>
