---
import MobileNavigation from '@components/MobileNavigation';
import SignUpButton from '@components/SignUpButton';
import Logo from '@components/Logo.astro';

const menuItemList = [
  { link: '#story', title: 'Story' },
  { link: '#join', title: 'Join Us' },
  { link: '#prize', title: 'Prize' },
  { link: '#beneficiary', title: 'Beneficiary' },
];

interface Props {
  showSignUp?: boolean;
}

const { showSignUp = false }: Props = Astro.props;
---

<nav id="navigation">
  <Logo height="52px" width="192px" />

  <div class="desktopNavigation">
    {
      menuItemList.map((menuItem) => (
        <a href={menuItem.link}>{menuItem.title}</a>
      ))
    }
    {showSignUp && <SignUpButton />}
  </div>
  <MobileNavigation menuItemList={menuItemList} client:load />
</nav>

<style>
  #navigation {
    box-sizing: border-box;
    padding: var(--base-font-size) var(--padding-side);
    width: 100%;
    height: calc(var(--base-font-size) * 5);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    position: relative;
    font-family: 'Satoshi-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: var(--base-font-size);
    color: #541736;
    text-decoration: none;
    padding: 0px var(--base-font-size);
    cursor: pointer;
  }

  a:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  a:hover::after {
    background-color: #ffe660;
    content: '';
    width: 80%;
    height: 3px;
    position: absolute;
    bottom: -8px;
    left: 0px;
    right: 0px;
    margin: auto;
  }

  @media only screen and (max-width: 970px) {
    .desktopNavigation {
      display: none;
    }
    #navigation {
      padding: 20px 20px;
    }
  }
</style>
