---
import Section from '@components/Section.astro';

import Gondwana from '@images/Gondwana.png';
import Attakk from '@images/Attakk.png';
import BigSkyLodges from '@images/BigSkyLodges.png';
import CFDamascus from '@images/CFDamascus.png';
import CompetitionCorner from '@images/CompetitionCorner.png';
import Cycletec from '@images/Cycletec.png';
import MolaMola from '@images/MolaMola.png';
import NamibaSky from '@images/NamibaSky.png';
import NaturalSelection from '@images/NaturalSelection.png';
import SRT from '@images/SRT.png';
import Viatu from '@images/Viatu.png';

const Partners = [
  {
    url: Gondwana,
    alt: 'Gondwana',
  },
  {
    url: BigSkyLodges,
    alt: 'BigSkyLodges',
  },
  {
    url: NaturalSelection,
    alt: 'NaturalSelection',
  },
  {
    url: NamibaSky,
    alt: 'NamibaSky',
  },
  {
    url: MolaMola,
    alt: 'MolaMola',
  },
  {
    url: CFDamascus,
    alt: 'CFDamascus',
  },
  {
    url: Cycletec,
    alt: 'Cycletec',
  },
  {
    url: Viatu,
    alt: 'Viatu',
  },
  {
    url: SRT,
    alt: 'SRT',
  },
  {
    url: CompetitionCorner,
    alt: 'CompetitionCorner',
  },
  {
    url: Attakk,
    alt: 'Attakk',
  },
];
---

<Section id="partners" title="Our Partners">
  <div class="partners-container">
    {Partners.map((partner) => <img src={partner.url} alt={partner.alt} />)}
  </div>
</Section>

<style>
  .partners-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: calc(var(--base-font-size) * 2);
    max-width: calc(var(--base-font-size) * 60);
  }

  img {
    padding: var(--base-font-size);
    margin-bottom: var(--base-font-size);
  }

  @media only screen and (max-width: 970px) {
    img {
      padding: calc(var(--base-font-size) * 0.5);
      margin-bottom: 0px;
    }
  }
</style>
