---
import Section from '@components/Section.astro';

import Gondwana from '@images/Gondwana.webp';
import Attakk from '@images/Attakk.webp';
import BigSkyLodges from '@images/BigSkyLodges.webp';
import CFDamascus from '@images/CFDamascus.webp';
import CompetitionCorner from '@images/CompetitionCorner.webp';
import Cycletec from '@images/Cycletec.webp';
import MolaMola from '@images/MolaMola.webp';
import NamibaSky from '@images/NamibaSky.webp';
import NaturalSelection from '@images/NaturalSelection.webp';
import SRT from '@images/SRT.webp';
import Viatu from '@images/Viatu.webp';
import FelixStudios from '@images/FelixStudios.webp';

const Partners = [
  {
    imageUrl: Gondwana,
    alt: 'Gondwana',
    url: 'https://gondwana-collection.com/',
  },
  {
    imageUrl: BigSkyLodges,
    alt: 'BigSkyLodges',
    url: 'https://www.bigsky-namibia.com/',
  },
  {
    imageUrl: NaturalSelection,
    alt: 'NaturalSelection',
    url: 'https://naturalselection.travel/locations/namibia',
  },
  {
    imageUrl: NamibaSky,
    alt: 'NamibaSky',
    url: 'https://balloon-safaris.com/',
  },
  {
    imageUrl: MolaMola,
    alt: 'MolaMola',
    url: 'https://www.mola-namibia.com/',
  },
  {
    imageUrl: CFDamascus,
    alt: 'CFDamascus',
    url: 'https://crossfitdamascus.com/',
  },
  {
    imageUrl: Cycletec,
    alt: 'Cycletec',
    url: 'http://www.cycletec.com.na/',
  },
  {
    imageUrl: Viatu,
    alt: 'Viatu',
    url: 'https://www.viatu.com/',
  },
  {
    imageUrl: SRT,
    alt: 'SRT',
    url: 'http://www.savetherhinotrust.org/',
  },
  {
    imageUrl: CompetitionCorner,
    alt: 'CompetitionCorner',
    url: 'https://competitioncorner.net/',
  },
  {
    imageUrl: FelixStudios,
    alt: 'FelixStudios',
    url: 'https://www.follow-felix.com/',
  },
  {
    imageUrl: Attakk,
    alt: 'Attakk',
    url: 'https://www.instagram.com/attakk_studios/',
  },
];
---

<Section id="partners" title="Our Partners">
  <div class="partners-container">
    {
      Partners.map((partner) => (
        <a href={partner.url}>
          <img src={partner.imageUrl} alt={partner.alt} loading="lazy" />
        </a>
      ))
    }
  </div>
</Section>

<style>
  .partners-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: calc(var(--base-font-size) * 60);
  }

  img {
    padding: var(--base-font-size);
    margin-bottom: var(--base-font-size);
    height: calc(var(--base-font-size) * 6);
    max-width: calc(var(--base-font-size) * 10);
    object-fit: contain;
  }

  @media only screen and (max-width: 970px) {
    img {
      padding: calc(var(--base-font-size) * 0.5);
      margin-bottom: 0px;
      height: calc(var(--base-font-size) * 4);
      max-width: calc(var(--base-font-size) * 7);
    }
  }
</style>
