---
import Section from '@components/Section.astro';

import Gondwana from '@images/Gondwana.webp';
import Attakk from '@images/Attakk.webp';
import BigSkyLodges from '@images/BigSkyLodges.webp';
import CFDamascus from '@images/CFDamascus.webp';
import CompetitionCorner from '@images/CompetitionCorner.webp';
import Cycletec from '@images/Cycletec.webp';
import MolaMola from '@images/MolaMola.webp';
import NamibaSky from '@images/NamibaSky.webp';
import NaturalSelection from '@images/NaturalSelection.webp';
import SRT from '@images/SRT.webp';
import Viatu from '@images/Viatu.webp';
import FelixStudios from '@images/FelixStudios.webp';

const Partners = [
  {
    url: Gondwana,
    alt: 'Gondwana',
  },
  {
    url: BigSkyLodges,
    alt: 'BigSkyLodges',
  },
  {
    url: NaturalSelection,
    alt: 'NaturalSelection',
  },
  {
    url: NamibaSky,
    alt: 'NamibaSky',
  },
  {
    url: MolaMola,
    alt: 'MolaMola',
  },
  {
    url: CFDamascus,
    alt: 'CFDamascus',
  },
  {
    url: Cycletec,
    alt: 'Cycletec',
  },
  {
    url: Viatu,
    alt: 'Viatu',
  },
  {
    url: SRT,
    alt: 'SRT',
  },
  {
    url: CompetitionCorner,
    alt: 'CompetitionCorner',
  },
  {
    url: FelixStudios,
    alt: 'FelixStudios',
  },
  {
    url: Attakk,
    alt: 'Attakk',
  },
];
---

<Section id="partners" title="Our Partners">
  <div class="partners-container">
    {
      Partners.map((partner) => (
        <img src={partner.url} alt={partner.alt} loading="lazy" />
      ))
    }
  </div>
</Section>

<style>
  .partners-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: calc(var(--base-font-size) * 60);
  }

  img {
    padding: var(--base-font-size);
    margin-bottom: var(--base-font-size);
    height: calc(var(--base-font-size) * 6);
    max-width: calc(var(--base-font-size) * 10);
    object-fit: contain;
  }

  @media only screen and (max-width: 970px) {
    img {
      padding: calc(var(--base-font-size) * 0.5);
      margin-bottom: 0px;
      height: calc(var(--base-font-size) * 4);
      max-width: calc(var(--base-font-size) * 7);
    }
  }
</style>
