---
import DottedLineVertical from '@components/DottedLineVertical.astro';
---

<div class="container">
  <div class="lines">
    <DottedLineVertical visible={true} height="20px"/>
    <div class="dot"></div>
    <DottedLineVertical visible={true} height="20px"/>
  </div>
  <div class="text"><slot /></div>
</div>

<style>
  .container {
    display: flex;
    align-items: center;
  }

  .lines {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text {
    margin-left: var(--margin);
    font-size: var(--base-font-size);
    color: #767676;
    font-family: 'Satoshi-Regular', sans-serif;
    font-weight: 500;
  }

  .dot {
    height: var(--base-font-size);
    width: var(--base-font-size);
    background: #541736;
    border-radius: 50px;
  }
</style>
