.dotContainer {
  margin-top: var(--margin);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  height: var(--base-font-size);
  width: var(--base-font-size);
  margin-left: var(--base-font-size);
  background: #d9d9d9;
  border-radius: 10px;
  cursor: pointer;
}

.dot.selected {
  background: #541736;
}
