---
import Section from '@components/Section.astro';
import NamibiaImage from '@images/namibia.png';
import PrizeStep from '@components/PrizeStep.astro';

const steps = [
  { text: 'Drop in at CrossFit Damascus in Windhoek' },
  { text: 'Visit the world-famous Etosha National Park' },
  { text: 'Go luxury slackpacking in the heart of Damaraland' },
  { text: 'Meet SRT and experience conservation work first hand' },
  { text: 'Surf with seals during a beachside break at Swakopmund' },
  { text: 'Climb the iconic dunes at Sossusvlei' },
];
---

<Section
  id="prize"
  title="Grand Prize"
  text={'Our lucky draw will determine the winner of an action-packed once-in-a-lifetime trip to Namibia worth $15,000.'}
>
  <div class="trip">
    <img src={NamibiaImage} alt="Namibia" />
    <div class="steps-container">
      {steps.map((step) => <PrizeStep text={step.text} />)}
    </div>
  </div>
</Section>

<style>
  .trip {
    display: flex;
  }

  .steps-container {
    margin-left: calc(var(--margin) * 2);
  }

  @media only screen and (max-width: 970px) {
    .trip {
      flex-direction: column;
      align-items: center;
    }

    .steps-container {
      margin-left: 0px;
    }

    img {
      width: calc(var(--margin) * 4);
      margin-bottom: var(--margin);
    }
  }
</style>
