---
import Section from '@components/Section.astro';
import PrizeStops from '@components/PrizeStops';

import NaturalSelectionLogo from '@images/NaturalSelection.webp';
import KwessiDunes from '@images/09KwessiDunes.webp';
import BigSkyLodgesLogo from '@images/BigSkyLodges.webp';
import AiAibaLodge from '@images/05AiAibaLodge.webp';
import NamibaSkyLogo from '@images/NamibaSky.webp';
import NamibaSky from '@images/08NamibSky.webp';
import GondwanaLogo from '@images/Gondwana.webp';
import TheWeinberg from '@images/01TheWeinberg.webp';
import MolaMolaLogo from '@images/MolaMola.webp';
import MolaMola from '@images/06MolaMola.webp';
import SafarihoekLodge from '@images/03SafarihoekLodge.webp';
import Etendeka from '@images/04Etendeka.webp';
import EtoshaKingNehale from '@images/02EtoshaKingNehale.webp';
import DelightOfSwakopmund from '@images/07DelightOfSwakopmund.webp';

const stops = [
  {
    title: 'Kwessi Dunes',
    text: 'An unforgettable desert experience amidst orange dunes, a star gazer room, a campfire, a pool, and never-ending views.',
    logo: NaturalSelectionLogo,
    cover: KwessiDunes,
  },
  {
    title: 'Ai Aiba Lodge',
    text: 'An eco-friendly and sophisticated exploration of nature in the Erongo Mountains — famous for rock painting sites. ',
    logo: BigSkyLodgesLogo,
    cover: AiAibaLodge,
  },
  {
    title: 'Namibia Sky Balloon Safaris',
    text: 'Soar over the panoramic Namibian desert for sunrise on the flight of a lifetime before landing for champagne breakfast.',
    logo: NamibaSkyLogo,
    cover: NamibaSky,
  },
  {
    title: 'The Weinberg',
    text: 'Experience old-world splendour on a sprawling estate, where you can indulge in wine tastings and culinary treats. ',
    logo: GondwanaLogo,
    cover: TheWeinberg,
  },
  {
    title: 'Mola Mola Safaris',
    text: "Up-close encounters with Namibia's marine animals, be it on the coastal dunes or the ocean, with drinks, food and oysters.",
    logo: MolaMolaLogo,
    cover: MolaMola,
  },
  {
    title: 'Safarihoek',
    text: 'Modern comfort overlooking Etosha National Park, a large waterhole, and expansive plains, offering immersion in wildlife and nature.',
    logo: NaturalSelectionLogo,
    cover: SafarihoekLodge,
  },
  {
    title: 'Etendeka walking trail',
    text: "Immersive trekking in Namibia's untouched landscape, exploring ancient rock formations and spending the night under the stars.",
    logo: BigSkyLodgesLogo,
    cover: Etendeka,
  },
  {
    title: 'Etosha King Nehale',
    text: 'Immerse yourself in the tranquillity of nature from your private plunge pool or the private-access waterhole.',
    logo: GondwanaLogo,
    cover: EtoshaKingNehale,
  },
  {
    title: 'Delight of Swakopmund',
    text: 'An inviting hotel near the beach boasting modern designs with locally-inspired touches to surprise and cheer guests.',
    logo: GondwanaLogo,
    cover: DelightOfSwakopmund,
  },
];
---

<Section
  id="prize"
  title="Grand Prize"
  text={'Our lucky draw will determine the winner of an action-packed once-in-a-lifetime trip to Namibia worth $15,000.'}
>
  <PrizeStops stops={stops} client:visible />
</Section>
