---
import Section from './Section.astro';
import SignUpSteps from './SignUpSteps.astro';
---

<Section
  id="prize"
  title="Grand Prize"
  text={'Our lucky draw will determine the winner of an action-packed once-in-a-lifetime trip to Namibia worth $15,000.'}
>
  <SignUpSteps />
</Section>
