---
import DottedLineVertical from '@components/DottedLineVertical.astro';

export interface Props {
  text: string;
}

const { text } = Astro.props;
---

<div class="container">
  <div class="lines">
    <DottedLineVertical visible={true} />
    <div class="dot"></div>
    <DottedLineVertical visible={true} />
  </div>
  <div class="text">{text}</div>
</div>

<style>
  .container {
    display: flex;
    align-items: center;
  }

  .lines {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text {
    margin-left: 32px;
  }

  .dot {
    width: 16px;
    height: 16px;
    background: #fe9fab;
    border-radius: 50px;
  }
</style>
