---
interface Props {
  url: string;
}

const { url }: Props = Astro.props;
---

<div style={{ backgroundImage: `url(${url})` }}></div>

<style>
  div {
    width: 100%;
    height: calc(var(--base-font-size) * 20);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media only screen and (max-width: 970px) {
    div {
      height: calc(var(--base-font-size) * 10);
    }
  }
</style>
