---
interface Props {
  text: string;
}

const { text }: Props = Astro.props;
---

<h2>
  {text}
</h2>

<style>
  h2 {
    font-family: 'Satoshi-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #00c9a5;
    margin: 0px;
  }

  @media only screen and (max-width: 970px) {
    h2 {
      text-align: center;
      margin-bottom: 32px;
    }
  }
</style>
