---
---

<div id="viatu">Viatu</div>

<style>
  #viatu {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #00c9a5;
  }
</style>
