---
import Section from './Section.astro';
---

<Section
  id="viatu"
  title="About Viatu"
  text={'Viatu is a tech-enabled travel company promoting sustainability and transparency in travel. We are incredibly proud to be the travel partner for Workout4Wildlife.'}
>
  <p>Children</p>
</Section>
