---
import LinkButton from '@components/LinkButton';
import Section from '@components/Section.astro';
import EmailForm from './EmailForm';
interface Props {
  showSignUp?: boolean;
}

const { showSignUp = false }: Props = Astro.props;
---

<Section
  id="viatu"
  title="About Viatu"
  text={'Viatu is a tech-enabled travel company promoting sustainability and transparency in travel. We are incredibly proud to be the travel partner for Workout4Wildlife.'}
>
  {showSignUp && <EmailForm client:load />}
  <LinkButton title="Visti Viatu" url="http://www.viatu.com" client:load />
</Section>
